@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "balooregular";
  src: url("../public/Baloo-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  color: #fff;
  font-family: "balooregular";
  background-color: #4c1d95;
}

.splitscreen {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
